.side-bar
  .top-content
    .center-box
      %h3.user-name
        rhyth09
      .icon-box
        = link_to "#", class: "Contents__btn" do
          = icon('fa', 'edit', class: 'edit-icon')
        = link_to "#", class: "Contents__btn" do
          = icon('fa', 'cog', class: 'cog-icon')
        
  .group-list
    .group-box
      .group-name
        test6
      .group-message
        こんにちは